<div ng-non-bindable="">
    <section class="col-xs-12 index-summary">
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-yellow" ng-bind-html="summaryIcons.kitchen">
            </div>							
            <div class="nb bold">{{marker.details.id.value || "N/A"}}</div>
            <small>Id</small>
        </div>	
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-green" ng-bind-html="summaryIcons.building">
            </div>							
            <div class="nb bold">{{marker.details.building.value || "N/A"}}</div>
            <small>Building</small>
        </div>							
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-orange" ng-bind-html="summaryIcons.containerType">
            </div>							
            <div class="nb bold">{{marker.details.locationType.value || "N/A"}}</div>
            <small>{{marker.details.locationSection.value}}</small>
        </div>	
        <div class="col-xs-12 col-sm-3 text-center">
            <div class="icon bg-blue" ng-bind-html="summaryIcons.time">
            </div>
            <div class="nb bold">{{(marker.details.creationDate.value | date:'MM/dd/yyyy hh:mm:ss') || "N/A"}}</div>
        </div>    
        <div class="clearfix mb10"></div>
        <div class="col-xs-12 col-sm-12 pdl0 pdr0 mt10 pdb10">
            <h5 class="text-uppercase text-center right-title">Fridge</h5>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="icon bg-yellow" ng-bind-html="summaryIcons.dmp">
                </div>
                <div class="nb bold">{{marker.details.sensor.value || "N/A"}}</div>
                <small>Device</small>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="icon bg-green" ng-bind-html="summaryIcons.pressure">
                </div>
                <div class="nb bold">{{marker.details.pressure.value || "N/A"}} {{marker.details.pressure_unit.value || "Pa"}}</div>
                <small>Pressure</small>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="icon bg-orange" ng-bind-html="summaryIcons.temperature">
                </div>
                <div class="nb bold">{{marker.details.temperature.value || "N/A"}} {{marker.details.temperature_unit.value || "&deg;C"}}</div>
                <small>Temperature</small>
            </div>
            <div class="col-xs-12 col-sm-3 text-center">
                <div class="icon bg-blue" ng-bind-html="summaryIcons.humidity">
                </div>
                <div class="nb bold">{{marker.details.humidity.value || "N/A"}} {{marker.details.humidity_unit.value || "%"}}</div>
                <small>Humidity</small>
            </div>
        </div> 
    </section>    
    <button type="button" ng-click='vm.go("/dashboard/deviceId/"+marker.details.id.value)' class="btn btn-success active mt15" ng-cloak>View Dashboard</button>
    <button type="button" ng-click='vm.go("/alerts/deviceId/"+marker.details.id.value)' class="btn btn-danger active mt15" ng-cloak>View Alerts</button>
</div>
